body{
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.116);
}
.main-div{
    height: calc(100vh);
    overflow: scroll;
}
.modal-opener{
    color: white !important;
    font-weight: bolder;

}

.modal{
    width: 400;
    background-color: white;
    margin-top: 5%;
    width: calc(50vw);
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
}

#modal-modal-title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    
}

.displayClassDetails{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: auto;
    margin-right: auto;
    width: calc(50vw);
    padding-left: 10px;
    border-radius: 10px;
    padding-right: 10px;


}

.heading{
    text-align: center;
    text-transform: capitalize;
    border-bottom: 3px solid;
    color:dodgerblue
}

.displayClassDetails p{
    font-weight: bold;
}

.displayClassDetails span{
    text-transform: capitalize;
}