body{
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.116);
}
.main-div{
    height: calc(100vh);
    overflow: scroll;
}
.modal-opener{
    color: white !important;
    font-weight: bolder;

}

.modal{
    width: 400;
    background-color: white;
    margin-top: 5%;
    width: calc(50vw);
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    

}

.modal input{
    width: 90%;
    padding: 10px 3px;
    border: 1px solid rgba(30, 143, 255, 0.24);
    margin-top: 8px;
    border-radius: 10px;
}

.modal input:focus{
    outline: 1px solid dodgerblue;
}

#modal-modal-title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    
}

.add-btn{
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 50px;
}

.displayClassDetails{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: auto;
    margin-right: auto;
    width: calc(50vw);
    padding-left: 10px;
    border-radius: 10px;
    padding-right: 10px;
    padding-bottom: 10px;


}

.heading{
    text-align: center;
    text-transform: capitalize;
    border-bottom: 3px solid;
    color:dodgerblue
}

.displayClassDetails p{
    font-weight: bold;
    text-transform: capitalize;
}

.displayClassDetails span{
    text-transform: capitalize;
}

.btns {
    display: flex;
    justify-content: space-around;
    color: white;
    
    
}

.app-btn-one,.app-btn-three,.modal-opener{
    color: snow;
   
}

@media screen and (max-width:700px) {
    .displayClassDetails{
        width: calc(60vw);

    }
    
}


@media screen and (max-width:600px) {
    .displayClassDetails{
        width: calc(80vw);

    }

    .logo{
        font-size: 14px;
    }

    .app-btn-one,.app-btn-three,.modal-opener{
        font-size: 10px;
        padding: 0px;
        padding: 5px 6px;
    }

    .modal{
        width: calc(80vw);
    }
    
}


@media screen and (max-width:450px) {
    .displayClassDetails{
        width: calc(95vw);
    }

    .logo{
        font-size: 12px;
    }

    .app-btn-one,.app-btn-three,.modal-opener{
        padding: 5px 3px;
    }


    

}

@media screen and (max-width:370px) {
    .btns button{
        font-size: 12px;
        padding: 4px 8px;

    }
    .app-btn-one,.app-btn-three,.modal-opener{
        padding: 5px 0px;
        font-size: 8px;
    }
    .logo{
        margin: 0px;
        padding: 0px;
        font-size: 11px;
    }

}